<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ProjetoMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f69f489e17.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="~/images/logo.png" width="50px">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">AiMechanic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mecanicas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="Mecanicas" asp-controller="Home">Mecânicas</a>

                        <a class="dropdown-item" asp-action="Localizacao" asp-controller="Home">Localização</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Atendimento" asp-controller="Home">Atendimento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="SobreN" asp-controller="Home">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="IaServicos" asp-controller="Home">Consultar</a>
                </li>
                
            </ul>
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <footer class="bg-primary text-light py-3">
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a asp-action="SobreN" asp-controller="Home"> Quem somos </a></li>
                        <li><a asp-action="atendimento" asp-controller="Home">Nossos Serviços</a></li>
                        <li><a href="~/docs/política de privacidade e termos de uso.pdf" download="política de privacidade e termos de uso.pdf">Política de Privacidade</a></li>
                        <li><a asp-action="Mecanicas" asp-controller="Home">Mecânicas afiliadas</a></li>
                        <li><a asp-action="Create"asp-controller="Mecanicas">Cadastre sua mecânica aqui</a></li>
                        
                    </ul>
                </div>
                
                <div class="footer-col">
                
                    <h4>Nossas Redes Sociais</h4>
                    <div class="medias-socias">
                        <a href="https://www.facebook.com/profile.php?id=61552172055651" target="_blank"> <i class="fa fa-facebook"></i> </a>
                        <a href="https://instagram.com/aimechanic1?igshid=NzZlODBkYWE4Ng==" target="_blank"> <i class="fa fa-instagram"></i> </a>
                        <a href="https://twitter.com/aimechanicTCC" target="_blank"> <i class="fa fa-twitter"></i> </a>
                        <a href="https://www.linkedin.com/in/ai-mechanic-tcc-097778266" target="_blank"> <i class="fa fa-linkedin"></i> </a>
                    </div>
                </div>
                <div class="footer-col">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.5305389677524!2d-47.30595380217611!3d-23.26016459604837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf50162d92f39b%3A0x64c5c4f2e9829f36!2sE.E.%20Dr.%20Ces%C3%A1rio%20Motta!5e0!3m2!1spt-BR!2sbr!4v1691749833638!5m2!1spt-BR!2sbr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
            <!--end footer col-->
        </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>