@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



    <h2 class="text-center mt-5"> Mecanicas </h2>
    <p class="text-center mt-3 mb-5"> Veja As Melhores Mecanicas Proximas Da Sua Região</p>

<div class="TOP">
    <img src="~/images/atdinicio.jpg">




    <h1>Sobre o que é a sua duvida ? </h1>

</div>

<div class="container ">
    <div class="row ">
        <div class="col-sm-3 ">
            <div class="card border-secondary mb-5">
                <div class="card-bodyss ">
                    <img src="~/images/logoCadastro.png">
                    <a asp-action="Conta" asp-controller="Home"> <h5 class="card-title">Conta</h5></a>


                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-secondary mb-5">
                <div class="card-bodys ">
                    <div class="imgser">
                        <img src="~/images/servicospng.png">
                        <a asp-action="Servicos" asp-controller="Home"> <h5 class="card-title">Serviços</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-secondary mb-5">
                <div class="card-body">
                    <img src="~/images/money.png">
                    <a asp-action="Financas" asp-controller="Home"> <h5 class="card-title">Finanças</h5></a>
                </div>
            </div>
        </div>
    </div>




</div>

