@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="TOP">
    <img src="~/images/atdinicio.jpg">


    <h1>Como se cadastrar </h1>

    <p><strong>Primeiro acesso da sua conta Ai-Mechanic?</strong></p>
    <p>1-Clique em “CADASTRO” no canto superior direito do site;</p>
    <p>2-Ira abrir uma nova tela para você adicionar algumas informações;</p>
    <p>3-Após tudo feito clique em "CADASTRAR" e PRONTO !!! Você Está Cadastrado !!!</p>

    <br>
    <br>

    <h1>Já tem um cadastro?</h1>
    <p><strong>Como entrar:</strong></p>
    <p>1-Clique em "LOGIN" no canto superior direito do Site;</p>
    <p>2-Após a apertura de uma nova tela, adicione a sua conta;</p>
    <p>3-Clique em Log in e Se Divirta !!! Ou Melhor... Aproveite Os Benefícios Que O Nosso Site Fornece !!!</p>

    <br>
    <br>
    <br>
    <br>

</div>