@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="TOP">
        <img src="~/images/atdinicio.jpg">




 <h1>Como funciona a finança do nosso site ?   </h1>
 <h5>Primeiro acesso</h5>
 <p>Bora para o primeiro acesso da sua conta Ai-Mechanic?</p>


 <p>Clique em “ENTRAR” no site ou APP, e acesse a página “Logar ou Cadastrar” para inserir seu e-mail e senha. Agora é só seguir os passos abaixo:</p>




</div>