@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="TOP">
        <img src="~/images/atdinicio.jpg">



 <h1>Gostou do nosso site?</h1>
    <h5>Ajude-nos com alguma quantia de dinheiro para continuarmos o projeto !!! </h5>

    <p><strong>Metodos de Pagamento:</strong></p>
    <br>
 <p>Paypal: rrpos@outlook.com</p>
    <br>
 <p>Pix (Tel): +55 (11) 96646-2730</p>
    <br>
    <p><strong>Vaquinha Online:<a href="https://www.vakinha.com.br/4212124"> </strong> Link Para Doação</a></p>
    
<br>
<br>


</div>