@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/f69f489e17.js" crossorigin="anonymous"></script>

<div class="slider">
    <div class="list">
        <div class="item">
            <a asp-action ="SobreN" asp-controller="Home"> <img src="~/images/1.jpg" alt="Inteligencia Artificial"></a>
        </div>
        <div class="item">
            <a asp-action="IaServicos" asp-controller="Home">> <img src="~/images/2.jpg" alt="Inteligencia Artificial"></a>
        </div>
        <div class="item">
            <a asp-action="Novidades" asp-controller="Home">> <img src="~/images/3.jpg" alt="Mecanicas Proximas"></a>
        </div>

    </div>
    <div class="buttons">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>

    </ul>
</div>

<script>

    let slider = document.querySelector('.slider .list');
    let items = document.querySelectorAll('.slider .list .item');
    let next = document.getElementById('next');
    let prev = document.getElementById('prev');
    let dots = document.querySelectorAll('.slider .dots li');

    let lengthItems = items.length - 1;
    let active = 0;
    next.onclick = function () {
        active = active + 1 <= lengthItems ? active + 1 : 0;
        reloadSlider();
    }
    prev.onclick = function () {
        active = active - 1 >= 0 ? active - 1 : lengthItems;
        reloadSlider();
    }
    let refreshInterval = setInterval(() => { next.click() }, 4000);
    function reloadSlider() {
        slider.style.left = -items[active].offsetLeft + 'px';
        //
        let last_active_dot = document.querySelector('.slider .dots li.active');
        last_active_dot.classList.remove('active');
        dots[active].classList.add('active');

        clearInterval(refreshInterval);
        refreshInterval = setInterval(() => { next.click() }, 4000);


    }

    dots.forEach((li, key) => {
        li.addEventListener('click', () => {
            active = key;
            reloadSlider();
        })
    })
    window.onresize = function (event) {
        reloadSlider();
    };

</script>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-secondary mb-5">
                <img class="card-img-top" src="~/images/mecanico.png" />
                <div class="card-body">
                    <h5 class="card-title">Mecanicas Proximas</h5>
                    <p class="card-text">Procure as Mecanicas mais proximas de você.</p>
                    <a asp-action="Localizacao" asp-controller="Home" class="btn btn-primary">Procurar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-secondary mb-5">
                <img class="card-img-top" src="~/images/guincho.png">
                <div class="card-body ">
                    <h5 class="card-title">Peça ajuda</h5>
                    <p class="card-text">Está com problemas ? Peça ajuda.</p>
                    <br>
                    <a asp-action="Mecanicas" asp-controller="Home" class="btn btn-primary">Pedir Ajuda</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-secondary mb-5">
                <img class="card-img-top" src="~/images/novidade.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Novidade</h5>
                    <p class="card-text">As Novidades mais frescas do mundo automotivo.</p>
                    <a asp-action="Novidades" asp-controller="Home" class="btn btn-primary">Novidades</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row shadow p-3 mb-5 bg-white rounded">
        <div class="col-md-7 mb-5">
            <h2>A Melhor Mecanica do Mundo</h2>
            <h2><small class="text-muted">AiMechanic</small></h2>
            <p class="lead text-justify">A mecânica é uma disciplina fascinante que explora as leis e princípios que governam o movimento dos objetos e as forças que atuam sobre eles. Ela está presente em diversos aspectos do nosso cotidiano, desde os veículos que utilizamos para nos locomover até as máquinas que impulsionam a indústria moderna.</p>

        </div>
        <div class="col-md-5 mb-5">
            <img src="~/images/logo.png" width="250px">

        </div>
      



    </div>
</div>

    </div>
