@model IEnumerable<ProjetoMVC.Models.MecanicaModel>

<style>
    #map {
        height: 600px;
    }
</style>

<div>
    <label>Encontradas: @Model.Count() empresas</label>
</div>

<div id="map"></div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -23.2657, lng: -47.2991 },
            zoom: 14
        });
    @foreach (var item in Model)
    {
        @Html.Raw(@"var marker = new google.maps.Marker({
            position: new google.maps.LatLng(" + item.Latitude.ToString().Replace(",",".") + @", "+ item.Longitude.ToString().Replace(",",".") +@"),
            title: '" + (item.Nome) + @"'
        });
        marker.setMap(map);");
    }
      
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUHYokMg3gypaZSWTvclZ_un6Z5GRp0ZQ&callback=initMap" async defer></script>