@model IEnumerable<ProjetoMVC.Models.MecanicaModel>
<link href="~/css/style.css" rel="stylesheet" />
<h2 class="text-center mt-5"> Mecanicas </h2>
<p class="text-center mt-3 mb-5"> Veja As Melhores Mecanicas Proximas Da Sua Região</p>


        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="card border-secondary mb-5">
                      <div class="fotosmecanica"> 
                <img src="~/fotos/@item.Fotos?.FirstOrDefault().Arquivo" class="tamanhoF" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">@item.Descricao</p>
                                </div>  
                        </div>
                    </div>
                </div>
            }

    </div>



