@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<body>



	<div class="container main-news section">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
				<img class="thumb mb-3" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/Fiat-Fastback-Abarth-1-1.jpg?quality=70&strip=info&w=1280&h=720&crop=1">
				<h3>
					<a class="font-large" target="_blank" href="https://quatrorodas.abril.com.br/noticias/fiat-fastback-abarth-e-esportivo-de-verdade-e-acredite-custa-menos/">
						Fiat Fastback Abarth é SUV esportivo de verdade e chega por R$ 159.990

					</a>
				</h3>
			</div>
			<div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
						<div class="image image-sm mb-1">
							<img class="thumb" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/Nova-Mitsubishi-L200.jpg?quality=70&strip=info&w=1280&h=720&crop=1">
						</div>
						<h3 class="mb-4">
							<a target="_blank"href="https://quatrorodas.abril.com.br/noticias/oficial-nova-mitsubishi-l200-estreia-no-brasil-daqui-a-alguns-meses/">
								Oficial! Nova Mitsubishi L200 Triton estreia no Brasil em poucos meses

							</a>
						</h3>

						<div class="image image-sm mb-1">
							<img class="thumb" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/files__image_80d2e4ca-c1d2-4a21-b059-4f8ec4de7028.jpg?quality=70&strip=info&w=1280&h=720&crop=1">
						</div>
						<h3 class="mb-4">
							<a target="_blank" href="https://quatrorodas.abril.com.br/noticias/renault-niagara-e-conceito-de-picape-hibrida-4x4-maior-que-a-oroch/">
								Renault Niagara é conceito de picape híbrida 4×4 maior que a Oroch

							</a>
						</h3>

					</div>

					<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
						<div class="image image-sm mb-1">
							<img class="thumb" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/Nissan-Ariya-3.jpg?quality=70&strip=info&w=1280&h=720&crop=1">
						</div>
						<h3 class="mb-4">
							<a target ="_blank" href="https://quatrorodas.abril.com.br/carros-eletricos/confirmado-nissan-ariya-sera-vendido-no-brasil-como-irmao-de-luxo-do-leaf/">
								Confirmado: Nissan Ariya será vendido no Brasil como irmão de luxo do Leaf
							</a>
						</h3>

						<div class="image image-sm mb-3">
							<img class="thumb image-sm" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/bmw_x7_m60i_xdrive_2_038103a40d2508e3-1.jpg?quality=70&strip=info&w=1024&h=692&crop=1">
						</div>
						<h3>
							<a target="_blank" href="https://quatrorodas.abril.com.br/noticias/novo-bmw-x7-tem-sete-lugares-e-motor-v8-de-530-cv-por-r-1-154-950/">
								Novo BMW X7 tem sete lugares e motor V8 de 530 cv por R$ 1.154.950
							</a>
						</h3>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container section mt-4">
		<div class="section-title">
			<span>Análise e previsão</span>
		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/IMG_7211-1.jpg?quality=70&strip=info&w=1280&h=720&crop=1">
				</div>
				<a target="_blank" href="https://quatrorodas.abril.com.br/noticias/conceito-sugere-novo-mazda-miata-como-hibrido-com-motor-wankel-e-370-cv/">
					Conceito sugere novo Mazda Miata como híbrido com motor Wankel e 370 cv
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/Fiat-Fastback-Abarth-2.jpg?resize=1360,906">
				</div>
				<a target="_blank" href="https://quatrorodas.abril.com.br/noticias/fiat-fastback-abarth-e-esportivo-de-verdade-e-acredite-custa-menos/">
					Fiat Fastback Abarth é SUV esportivo de verdade e chega por R$ 159.990
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/unnamed-1-e1698260944126.jpg?quality=70&strip=info&w=538&h=344&crop=1">
				</div>
				<a target="_blank"href="https://quatrorodas.abril.com.br/noticias/mini-cooper-uncharted-leva-carroceria-bitom-a-outro-patamar-por-r-319-990/">
					MINI Cooper Uncharted leva carroceria bitom a outro patamar por R$ 319.990
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" target="_blank" src="https://quatrorodas.abril.com.br/wp-content/uploads/2023/10/ferrari-sp-8-3-e1698205318881.jpg?quality=70&strip=info&w=1280&h=720&crop=1">
				</div>
				<a target="_blank" href="https://quatrorodas.abril.com.br/noticias/ferrari-sp-8-e-modelo-unico-com-motor-de-f8-e-inspiracao-em-classicos/">
					Ferrari SP-8 é modelo único com motor de F8 e inspiração em clássicos

				</a>
			</div>
		</div>
	</div>
</body>