@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/f69f489e17.js" crossorigin="anonymous"></script>


 <div class="TOP">
        <img src="~/images/atdinicio.jpg">




 <h1>Veja os serviços que prestamos  </h1>
 <h5>Primeiro acesso</h5>
 <p>Bora para o primeiro acesso da sua conta Ai-Mechanic?</p>


 <p>Clique em “ENTRAR” no site ou APP, e acesse a página “Logar ou Cadastrar” para inserir seu e-mail e senha. Agora é só seguir os passos abaixo:</p>




</div>