@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/f69f489e17.js" crossorigin="anonymous"></script>

  

    

      <h2 class="text-center mt-5">Um Site Desenvolvido Para o TCC </h2>
      <p class="text-center mt-5">Nós do 3 Ano Do Ensino Medio da Escola Dr. Cesário Motta juntamente com a ETEC Martinho Di Ciero ,decidimos fazer esse site para o nosso TCC (Trabalho de conclusão de curso).</p>
      <p class="text-center">Um Site de integração de tudo que há no mundo Automotivo em apenas um lugar.</p>




      <div class="container">
        <div class="row">
          <div class="col-sm-4" >
            <div class="card border-secondary mb-5">
                    <img class="card-img-top" src="~/images/Foto_Anonimo.png">
              <div class="card-body">
                <h5 class="card-title">Alex Moreira</h5>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-secondary mb-5">
                    <img class="card-img-top" src="~/images/Foto_Anonimo.png">
              <div class="card-body ">
                <h5 class="card-title">Arthur Rizzo</h5>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-secondary mb-5">
                    <img class="card-img-top" src="~/images/Foto_Anonimo.png">
              <div class="card-body">
                <h5 class="card-title">Pablo de Souza</h5>
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>

              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-4" >
              <div class="card border-secondary mb-5">
                    <img class="card-img-top" src="~/images/Foto_Anonimo.png">
                <div class="card-body">
                  <h5 class="card-title">Ruan Mota</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>

                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border-secondary mb-5">
                <img class="card-img-top" src="~/images/Foto_Anonimo.png">
                <div class="card-body ">
                  <h5 class="card-title">João Da Silva</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>

                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border-secondary mb-5">
                <img class="card-img-top" src="~/images/Foto_Anonimo.png" >
                <div class="card-body">
                  <h5 class="card-title">Wellington Felix</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>  
             </div>
            </div>
          </div>


    </div>
  

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    -->