@model ProjetoMVC.Models.MecanicaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MecanicaModel</h4>
<hr />

@Html.Partial("FormPartial")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
