@model ProjetoMVC.Models.MecanicaModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MecanicaModel</h4>
<hr />

<form asp-action="Edit" enctype="multipart/form-data">

@Html.Partial("FormPartial")

</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
