@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: #415aca;
    padding: 50px 0;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 22px;
        color: white;
        margin-bottom: 20px;
        font-weight: 500;
        position: relative;
        text-transform: uppercase;
    }

    .footer-col ul {
        list-style: none;
    }

        .footer-col ul li {
            margin: 10px 0;
        }

            .footer-col ul li a {
                font-size: 16px;
                text-transform: capitalize;
                color: white;
                text-decoration: none;
                font-weight: 300;
                display: block;
                transition: all 0.3s ease;
            }

                .footer-col ul li a:hover {
                    color: #cecdcd;
                    padding-left: 10px;
                }

    .footer-col .medias-socias {
        margin-top: 30px;
        margin-left: 22%;
    }

        .footer-col .medias-socias a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            margin: 0 10px 10px 0;
            text-decoration: none;
            border-radius: 50%;
            color: white;
            border: 1px solid white;
            transition: all 0.5s ease;
        }

            .footer-col .medias-socias a i {
                font-size: 20px;
            }

            .footer-col .medias-socias a:hover {
                color: #415aca;
                background-color: white;
            }

    .footer-col .form-sub input {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        outline: none;
        border: 1px solid white;
        color: white;
        background-color: #415aca;
    }

        .footer-col .form-sub input::placeholder {
            color: white;
        }

    .footer-col .form-sub button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        font-size: 17px;
        outline: none;
        border: none;
        cursor: pointer;
        color: #415aca;
        border-radius: 3px;
        font-weight: bold;
        background-color: white;
    }
/* Responsivo */
@media (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:600px) {
    .footer-col {
        width: 100%;
    }
}

.tamanhoF{
    width: 100px
}

.TOP img {
    margin-bottom: 50px;
    width: 100%;
   
}

.TOP h1 {
    text-align: center;
    margin-bottom: 100px;
    color: #474747;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.card-body img {
    width: 150px;
    margin-left: 60px;
}
.card-body a h5 {
    margin-left: 87px;
    color: black;
    margin-top: 17px;
    margin-bottom: 9px;
}

.card-body a:hover h5 {
    color: rgb(89, 78, 245);
}

.card-bodys img {
    width: 104px;
    margin-left: 98px;
    margin-top: 37px;
}
.card-bodys a h5 {
    margin-left: 105px;
    color: black;
    margin-top: 40px;
    margin-bottom: 27px;
}
.card-bodys a:hover h5 {
    color: rgb(89, 78, 245);
}


.card-bodyss img {
    width: 180px;
    margin-left: 65px;
    margin-top: 0.01px;
}

.card-bodyss a h5 {
    margin-left: 117px;
    color: black;
    margin-top: 0px;
    margin-bottom: 27px;
}

.card-bodyss a:hover h5 {
    color: rgb(89, 78, 245);
}




.container {
    margin-left: 15%;
}

.card-body .imgser img {
    width: 110px;
    margin-left: 50px;
    margin-bottom: 40px
}

.container1 {
    margin-left: 1%;
   
}

.container1 img { 
    width: 410px;
    
}

.flex {
    display: flex;
}

#Fconsulta{
margin-top: 4%

}

#BtnConsulta {
    margin-top: 1%;
    margin-bottom: 2%
}
 {
    background-color: black;
}

#RespConsulta {
    margin-bottom: 22%
}

.slider {
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

    .slider .list {
        position: absolute;
        width: max-content;
        height: 100%;
        left: 0;
        top: 15%;
        display: flex;
        transition: 1s;
    }

        .slider .list img {
            width: 1300px;
            max-width: 100vw;
            height: 60%;
            object-fit: cover;
        }

    .slider .buttons {
        position: absolute;
        top: 40%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

        .slider .buttons button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff5;
            color: #fff;
            border: none;
            font-family: monospace;
            font-weight: bold;
        }

    .slider .dots {
        position: absolute;
        bottom: 26%;
        left: 0;
        color: #fff;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

        .slider .dots li {
            list-style: none;
            width: 10px;
            height: 10px;
            background-color: #ffffff;
            margin: 10px;
            border-radius: 20px;
            transition: 0.5s;
        }

            .slider .dots li.active {
                width: 30px;
            }

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}




